<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <h4 class="list-group-item list-group-item-success">Last Trip - <%= @last_trip_date.strftime('%A, %B %e') %></h4>
      <% @last_trip_items.each do |last_trip_item| %>
        <a href="/pantry_items/<%= last_trip_item.id %>" class="list-group-item">
          <%= last_trip_item.item.name+" - "+last_trip_item.item.description %>
        </a>
      <% end %>
    </div>
  </div>
</div>
