<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <h4 class="list-group-item list-group-item-success">Here's What You Need</h4>
      <% @grocery_list_items.each do |grocery_list_item| %>
        <% if grocery_list_item.need_to_replace %>
          <a href="/pantry_items/<%= grocery_list_item.id %>" class="list-group-item">
            <%= grocery_list_item.item.name+" - "+grocery_list_item.item.description %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
