<div class="page-header">
  <h1>Category #<%= @category.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @category.name %></dd>

  <dt>Perishable</dt>
  <dd><%= @category.perishable %></dd>

</dl>
